.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

header .row {
  justify-content: space-between;
}

main .row {
  justify-content: center;
}

.column-logo {
  width: 10rem;
  padding-top: 0.6rem;
}

.column-full,
.column-half {
  width: 100%;
}

.nav-mobile {
  display: flex;
}

.nav-desk {
  display: none;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 800px;
  }

  .column-full,
  .column-half {
    padding: 0;
  }

  .column-half {
    width: 50%;
  }

  .column-two-thirds {
    flex-basis: calc(100% / 3 * 2);
  }

  .column-three-quarters {
    flex-basis: 75%;
  }

  .nav-mobile {
    display: none;
  }

  .nav-desk {
    display: block;
    text-align: right;
  }
}
