body {
  background-color: #383e4e;
  font-family: sans-serif;
  color: #fff;
}

header {
  background-color: #262a35;
  min-height: 60px;
}

.open-logo,
.trivia-logo {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0.9;
}

.open-logo {
  color: #ff7201;
  font-size: 0.8rem;
}

.trivia-logo {
  font-size: 2rem;
}

.nav-mobile i {
  font-size: 1.5rem;
  padding: 0.4rem 0.6rem;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 0.6rem 1.5rem 0 0;
  height: 2.5rem;
  cursor: pointer;
}

.nav-mobile-item {
  display: block;
  background-color: #0f1115;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin: 0.7rem 1rem 0.7rem 0;
}

.nav-desk-item {
  display: inline-block;
  background-color: #0f1115;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin: 0.7rem 1rem 0.7rem 0;
}

.nav-mobile i:hover,
.nav-mobile-item:hover,
.nav-desk-item:hover {
  background-color: #5c6378;
}

main {
  background-color: #383e4e;
  margin-bottom: 2rem;
}

.score {
  text-align: center;
  padding: 1rem 0;
}

a,
button {
  cursor: pointer;
}

[data-view='new-game'] button {
  background-color: #ff7201;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.placeholder {
  visibility: hidden;
}

form {
  padding: 0 2rem;
}

form img {
  max-width: 80%;
  margin-top: 1rem;
}

.question {
  text-align: center;
  line-height: 1.5;
}

input[type='radio'] {
  margin: 1rem 0 0;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

input[type='radio']:hover {
  border-color: #7f89a8;
}

input[type='radio']:checked {
  border: 8px solid #fff;
}

input[type='radio']:disabled.correct-radio {
  accent-color: #65ff05;
  background-color: #65ff05;
  color: #65ff05;
  border-color: #65ff05;
}

input[type='radio']:disabled.incorrect-radio {
  accent-color: #f00;
  background-color: #f00;
  color: #f00;
  border-color: #f00;
}

label {
  margin-left: 0.5rem;
}

[data-view='trivia-question'] button,
.show-image,
.next-question,
[data-view='settings'] button,
.dismiss-modal {
  background-color: #ff7201;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: 1rem;
}

[data-view='new-game'] button:hover,
[data-view='trivia-question'] button:hover,
.show-image:hover,
.next-question:hover,
[data-view='settings'] button:hover,
.dismiss-modal:hover {
  background-color: #f90;
}

.placeholder,
.correct,
.incorrect,
.settings-text {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1rem;
}

.correct,
.correct-label {
  color: #65ff05;
}

.incorrect,
.incorrect-label {
  color: #f00;
}

.correct-radio {
  accent-color: #65ff05;
}

.incorrect-radio {
  accent-color: #f00;
}

.answer-image {
  margin-top: 2rem;
  text-align: center;
}

[data-view='settings'] form {
  text-align: center;
}

[data-view='settings'] label {
  display: inline-block;
  margin: 1rem 0 0.2rem;
}

[data-view='settings'] input,
[data-view='settings'] select {
  width: 100%;
  padding: 0.2rem;
}

dialog {
  text-align: center;
  border-radius: 5px;
}

@media screen and (width >= 768px) {
  [data-view='settings'] input,
  [data-view='settings'] select {
    width: 70%;
  }
}
